
/*on reserve un espace dans le haut de la page pour que le texte du début ne soit pas sous la navigation*/
body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
main {
    background: rgb(247, 211, 7);
}
.rose {
    background: rgb(223, 182, 188);
}
.bleu {
    background: rgb(176, 225, 231);
}
.vert {
    background: rgb(95, 219, 149);
}
.rouge {
    background: rgb(250, 160, 160);
}
.lime {
    background: rgb(169, 240, 169);
}
h2 {
    text-align: center;
}
/* .fleches {
    color: rgba(182, 135, 16, 0.5);
    background: goldenrod;
}
.item{
    background: rgba(211, 81, 6, 0.5);
    color: rgb(248, 105, 9);

} */